// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/config

// ================================
// Text Properties
// ================================

// Enter the values found from body copy

$body-font-size: 16px !default;
$body-line-height: 22px !default;


// ================================
// Font Types
// ================================

$serif: 'Droid Serif', Georgia, serif !default;
$serif-2: null !default;

$sans-serif: 'Lato', sans-serif !default;
$sans-serif-2: null !default;

$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;

$font-icon: 'IcoMoon' !default;
$font-icon-2: 'FontAwesome' !default;

// Reiteration of fonts for the style guide
$fonts:
	$serif,
	$serif-2,
	$sans-serif,
	$sans-serif-2,
	$font-icon,
	$font-icon-2,
	$monospace !default;


// ================================
// Headings
// ================================

$h1-size: 36px !default;
$h1-line-height: 38px !default;
$h1-margin: 16px !default;

$h2-size: 32px !default;
$h2-line-height: 34px !default;
$h2-margin: 16px !default;

$h3-size: 28px !default;
$h3-line-height: 30px !default;
$h3-margin: 10px !default;

$h4-size: 24px !default;
$h4-line-height: 26px !default;
$h4-margin: 10px !default;

$h5-size: 20px !default;
$h5-line-height: 22px !default;
$h5-margin: 10px !default;

$h6-size: 16px !default;
$h6-line-height: 18px !default;
$h6-margin: 10px !default;


// ================================
// Icon Fonts
// ================================

//icomoon library = "default"
$icon-menu: '\f039';
$icon-angle-left: '\f104';
$icon-angle-right: '\f105';
$icon-angle-up: '\f106';
$icon-angle-down: '\f107';

// default library social icons
$icon-facebook: '\f09a';
$icon-instagram: '\f16d';
$icon-linkedin: '\f0e1';
$icon-pinterest: '\f0d2';
$icon-tumblr: '\f173';
$icon-twitter: '\f099';
$icon-vimeo: '\f27d';
$icon-vine: '\f1ca';
$icon-youtube: '\f16a';
$icon-googleplus: '\f0d5';
$icon-wechat: '\f1d7';
$icon-flickr: '\f16e';
$icon-wordpress: '\f19a';
$icon-rss: '\f09e';



