// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/structure

// ================================
// Footer
// ================================

#fsFooter {
  padding: $gutter;
  color: #fff;
  .fsBanner {
    @include compartment;
    display: flex;
    justify-content: space-between;
    &:after {
      content: normal;
    }
    @at-root body.fsDraftMode & {
      flex-flow: row wrap;
      .fsElementActionButtonContainer {
        flex: 0 1 100%;
      }
    }
  }
  .address-container {}
  .utility-container {}
  .nav-social {
    margin-bottom: $gutter;
  }
}


// ================================
// Address
// ================================
.school-details {
  margin-bottom: $gutter;
  [itemprop='name'] {
    @include h4;
  }
  [itemprop='address'] {}
  [itemprop='streetAddress'] {
    display: block;
  }
  [itemprop='addressLocality'] {}
  [itemprop='addressRegion'] {}
  [itemprop='postalCode'] {}
  [itemprop='telephone'] {}
  [itemprop='fax'] {}
  a {
    color: inherit;
  }
}
