// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/structure

/*! structure - header v0.0.1 */

// ================================
// Header
// ================================

#fsHeader {
  padding: 0 $gutter;
}


// ================================
// Site Name
// ================================

.site-info-container {
  @include compartment;
  padding: $gutter 0;
  overflow: hidden;
  white-space: nowrap;

  a {
    display: block;
    padding: $gutter 0;
    color: transparent;
    // @include modernizr(svg){
    //      background: url($image-dir + 'logo.svg') no-repeat 0 50%;
    // }
   // @include modernizr(svg, false){
         background: url($image-dir + 'logo.png') no-repeat 0 50%;
    //}
    &:hover {
      color: transparent;
    }

  }

}
