// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - constituent default layout */

// ==========================================
// Directory
// ==========================================


//optional styling for constituent directory items
//set to true and adjust color & border accordingly
$directory-item-background: false;
$directory-item-border: false;

$directory-border-style: $default-border-style !default;
$directory-item-bg-color: rgba($d1, .075) !default;

.fsConstituent {
  &.fsDirectory {}

  .fsConstituentItem {
    float: none;
    width: calc(100% - #{$const-gutter});
    margin: 0 auto $const-gutter * 2;

    @if ($directory-item-background == true) or ($directory-item-border == true) {
      margin: 0 auto $const-gutter;
    }
  }

  &.fsThumbnailAlignLeft {
    .fsPhoto {
      margin-right: $const-gutter / 2;
      margin-bottom: $const-gutter / 2;
    }
  }

  &.fsThumbnailAlignRight {
    .fsPhoto {
      margin-left: $const-gutter / 2;
      margin-bottom: $const-gutter / 2;
    }
  }
}

.fsConstituentItem {
  padding-left: $const-gutter / 2;
  padding-right: $const-gutter / 2;

  > h3, 
  > div {
    margin-bottom: $const-gutter / 2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .fsPhoto {
    img {
      display: block;
    }
  }

  &.fsHasPhoto {}

  @if ($directory-item-background == true) or ($directory-item-border == true) {
    padding: $const-gutter;
  }

  @if $directory-item-background == true {
    background-color: $directory-item-bg-color;
  }

  @if $directory-item-border == true {
    border: $directory-border-style;
  }

}//end constituent individual item


div[class^="fsConstituentColumnLayout"] {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$const-gutter);

  @if ($directory-item-background == true) or ($directory-item-border == true) {
    margin: 0 (-$const-gutter / 2);
  }
}

// One Column
// ================================

.fsConstituentColumnLayout_1 {}


// Two Column +
// ================================

.fsConstituentColumnLayout_2,
.fsConstituentColumnLayout_3,
.fsConstituentColumnLayout_4 {
  .fsConstituentItem {      
    @include breakpoint($const-bp-2-column) {
      width: calc(50% - #{$const-gutter});
      margin-left: $const-gutter / 2;
      margin-right: $const-gutter / 2;
    }
  }
}


// Three Column +
// ================================

.fsConstituentColumnLayout_3,
.fsConstituentColumnLayout_4 {
  .fsConstituentItem {       
    @include breakpoint($const-bp-3-column) {
      width: calc(33.33% - #{$const-gutter});
    }
  }
}


// Four Column
// ================================

.fsConstituentColumnLayout_4 {
  .fsConstituentItem {         
    @include breakpoint($const-bp-4-column) {
      width: calc(25% - #{$const-gutter});
    }
  }
}

    