// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - constituent pinterest option */

// ===========================================
// Columns pinterest directory 
// for default style swap out in main.css
// ===========================================

.fsDirectory {
  word-break: break-word;
  margin-bottom: $gutter;

  .fsConstituentItem {
    float: none;
    max-width: 400px;
    width: 100%;
    margin: 0 auto $gutter;
    padding: $gutter 0;
    background-color: #f1f2f2;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    @include breakpoint($bp-create-columns) {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
    }

    // // optional styling to remove bold labels and awkward br tags in DOM
    // >div strong, >div br {
    //   display: none;
    // }

    > h3, > div {
      padding-right: $gutter;
      padding-left: $gutter;
      margin-bottom: $gutter / 2;
      padding-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .fsPhoto {
      img {
        display: block;
        width: 100%;
      }
    }
  }//end constituent individual item

  [class^='fsConstituentColumnLayout'] {
    @include breakpoint($bp-create-columns) {
      column-gap: $gutter;
    }
  }

}



// ================================
// Columns with pinterest directory
// ================================


// One Column
// ================================

.fsConstituentColumnLayout_1 {

}

// Two Column
// ================================

.fsConstituentColumnLayout_2 {

  @include breakpoint($bp-2-column) {
    column-count: 2;
  }

}


// Three Column
// ================================

.fsConstituentColumnLayout_3 {

  @include breakpoint($bp-2-column) {
    column-count: 2;
  }

  @include breakpoint($bp-3-column) {
    column-count: 3;
  }

}


// Four Column
// ================================

.fsConstituentColumnLayout_4 {

  @include breakpoint($bp-2-column) {
    column-count: 2;
  }

  @include breakpoint($bp-3-column) {
    column-count: 3;
  }

  @include breakpoint($bp-4-column) {
    column-count: 4;
  }

}
