// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - constituent search */

// ================================
// Search
// ================================

.fsConstituent {

  &.fsSearch {
    overflow: hidden;
    + .fsConstituent {
      border-top: $const-border;
      margin-top: $const-gutter;
      padding-top: $const-gutter;
    }
  }
}

.fsConstituentSearchForm {
  display: flex;
  flex-wrap: wrap;
  margin-left: (-$const-gutter / 2);
  margin-right: (-$const-gutter / 2);

  > label {
    flex-grow: 1;
    margin-bottom: $const-gutter / 2;
    margin-top: $const-gutter / 2;
    padding: 0 $const-gutter / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > span {
      margin-bottom: 2px;
    }

    > select, 
    > input {
      border: $const-border;
      flex-grow: 1;

      //if body font size is less than 16px font
      //add this to prevent zoom issue on touch devices
      // .touch & {
      //   font-size: 16px;
      // }
    }

    > select {
      height: $body-font-size + 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }

  [type*='submit'] {
    align-self: flex-end;
    margin: $const-gutter / 2;
    width: 100%;

    @include breakpoint(600px) {
      width: auto;
    }
  }
}



