// Documentation Reference - http://coderepo.demo.finalsite.com/production/tools

/*! _all.scss - src/sass/modules/tools - News, Calendar, & Posts Tools Elements */

// example: http://coderepo.demo.finalsite.com/production/tools/
// example: http://coderepo.demo.finalsite.com/production/tools/news
// example: http://coderepo.demo.finalsite.com/production/tools/calendar
// example: http://coderepo.demo.finalsite.com/production/tools/posts

// ================================
// extend used for buttons
// ================================
%button-tools {
  margin: 0 5px 0 0;
  width: auto;
}

// ================================
// Tools - News, Calendar, Posts
// ================================
.fsToolsElement {
  // font-family: $sans-serif;
  // font-weight: $normal;

  > header {
    .fsElementTitle { }
    .fsElementHeaderContent { }
  }

  .fsElementContent { }

  > footer {
    .fsElementFooterContent { }
  }

}


// Category, Tag, Legend
// ================================

$flex-tag-links: false;

.fsToolsList {

  > li {}

  // Category, Tag 
  // ================================
  &.fsStyleSelectList {

    @if $flex-tag-links == true {
      @include column-narrow {
        display: flex;
        flex-wrap: wrap;

        > li {
          flex-grow: 1;
        }
      }
    }

    > li {
      padding: 0;
      margin: 0;

      &.fsStateSelected {
        .fsStyleDefaultButton {}
      }
    }

    .fsStyleDefaultButton {
      @extend %button-tools;
      @include mini-button;
    }
  }

}

