// Documentation Reference - http://coderepo.demo.finalsite.com/production/tools

/*! _category.scss - src/sass/modules/tools/posts - Posts Tools Elements */

// example: http://coderepo.demo.finalsite.com/production/tools/posts

// ================================
// Tools - Category Filter
// ================================

.fsCategoryFilter {

  .fsStyleSelectList {

    > li {

      .fsCategoryLink {}

      &.fsStateSelected {
        .fsCategoryLink {}
      }
    }
  }
}