// Documentation Reference - http://coderepo.demo.finalsite.com/production/tools

/*! _filter.scss - src/sass/modules/tools/posts - Calendar Tools Elements */

// example: http://coderepo.demo.finalsite.com/production/tools/calendar

// ================================
// Tools - Mini Grid
// ================================

// ================================
// Default Styling Map
// ================================

$grid-style: (
  grid-width: $right-banner-width-desktop,

  default-box-background: darken($s1, 5%),
  today-box-background: lighten($m1, 25%),
  has-event-box-background: darken($s1, 15%),
  out-of-range-box-background: $s1,

  default-box-color: $d1,
  today-box-color: #fff,
  has-event-box-color: $d1,
  out-of-range-box-color: darken($s1, 20%)
);


.fsMiniGrid {

  .fsCalendarGridControlBar {
    button {
      &.fsLeftArrow {}
      &.fsRightArrow {}
    }

    .fsCalendarGridShowMonthPickerButton {
      &:after {}
    }

    .fsCalendarGridBrowser {
      &.fsCalendarMonthBrowser {}
    }
  }

  .fsCalendarEventGrid {
    max-width: 100%;
    width: map-get($grid-style, grid-width);
    .fsCalendarWeekdays {
      box-shadow: inset 0 -1px 0 0 $s1;
      span {}
    }
    .fsCalendarRow {
      .fsCalendarDaybox {
        box-shadow: inset -1px 0 0 0 #fff, inset 0 -1px 0 0 #fff;
        background: map-get($grid-style, default-box-background);
        color: map-get($grid-style, default-box-color);
        font-size: .875em;
        line-height: 1;
        padding: 10px 5px;
        &:last-child {
          box-shadow: inset 0 -1px 0 0 #fff;
        }
        &.fsStateHasEvents {
          background: map-get($grid-style, has-event-box-background);
          color: map-get($grid-style, has-event-box-color);
        }
        &.fsCalendarOutOfRange {
          background: map-get($grid-style, out-of-range-box-background);
          color: map-get($grid-style, out-of-range-box-color);
        }
        &.fsCalendarToday {
          background: map-get($grid-style, today-box-background);
          color: map-get($grid-style, today-box-color);
        }
      }
    }
  }
}

.fsCalendarMonthYearPicker {
  .fsCalendarMonthPicker {}
  .fsCalendarYearPicker {}
  > .fsStyleUpdateButton {
    margin-bottom: 0;
    display: block;
    color: #fff;
    background-color: $s2;
  }
}

