// Documentation Reference - http://coderepo.demo.finalsite.com/production/tools

/*! _filter.scss - src/sass/modules/tools/posts - News & Calendar Tools Elements */

// example: http://coderepo.demo.finalsite.com/production/tools/news
// example: http://coderepo.demo.finalsite.com/production/tools/calendar

// ================================================================
// Tools (.fsToolsElement) - Search Subtype (.fsSearch)
// associated with: 
// - Calendar Tools Element (.fsCalendarTools)
// - News Tools Element (.fsNewsTools)
// ** fsSearch class is also on constituent and search elements
// ================================================================

$flex-search: true;

.fsToolsElement {
  &.fsSearch {}
}


.fsElementToolsSearch {
  @if $flex-search == true {
    @include column-narrow {
      display: flex;
      flex-wrap: wrap;

      > div {
        width: 100%;
      }

      .fsFieldContainer {
        display: flex;
        flex-wrap: wrap;

        .fsStyleDefaultField {
          flex-grow: 1;
        }
      }

      .fsElementToolsSearchButton {
        width: 100%;
      }
    }
  }

  .fsSeparator {
    margin: 0 5px;
    display: inline-block;
    text-align: center;
  }
}

// keywords
.fsElementToolsKeyword {
  .fsFieldLabel {
    &.fsStyleHidden {}
  }
  .fsStyleSearchField {}

  + .fsElementToolsDateRange {
    margin-top: ($gutter / 2);
  }
}

// date range
.fsElementToolsDateRange {
  .fsFieldLabel {
    &.fsStyleHidden {}
  }
  .fsFieldContainer {
    .fsFieldLabel {
      &.fsStyleHidden {}
    }
    .fsElementToolsDateRangeStart {}
    .fsSeparator {}
    .fsElementToolsDateRangeEnd {}
  }
}

.fsElementToolsSearchButton {
  @extend %button-tools;
  margin: ($gutter / 2) 0 0;
}

