// Documentation Reference - http://coderepo.demo.finalsite.com/production/tools

/*! _tag.scss - src/sass/modules/tools/posts - Posts Tools Elements */

// example: http://coderepo.demo.finalsite.com/production/tools/posts

// ================================
// Tools - Posts Tag Filter
// ================================

.fsTagFilter {

  .fsStyleSelectList {

    > li {

      .fsTagLink {}

      &.fsStateSelected {
        .fsTagLink {}
      }
    }
  }
}