// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/pages

// ================================
// Portal Pages
// ================================

.portal-page {

	.fsTwoColumnWideRightLayout {
		> .fsDiv {
			> .fsElement + .fsElement {
				margin-top: 2em;
			}
		}
	}
}

