// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/content

// ================================
// Common Button
// ================================

@mixin button($background: $d1, $color: #fff) {
  display: inline-block;
  border: 0;
  margin: 0 0 $gutter;
  padding: $gutter / 2 $gutter;
  background: $background;
  color: $color;
  border-radius: 0;
  text-align: center; 

  &:hover,
  &:focus,
  .fsStateSelected & {
    background: lighten($background, 25%);
    color: $color;
  }

  em {
    display: block;
    font-style: normal;
  }

}


// ================================
// Extended Buttons
// ================================

.button {
  @include button($m1);
}

.color-button {
  @include button($m2);
}

.hollow-button {
  @include button(transparent, $m2);
  border: .2em solid $m2;

  &:hover,
  &:focus {}

}


// ================================
// Callout Button
// ================================



// ================================================================================================
// Generic fsStyleDefaultButton
// Includes:
// fsCategoryLink - Post Tools Element > Category Filter > Category Name/Filter Button
// fsLoadMoreButton - All Elements with a load more button > Load More Button
// fsSelectAll - Calendar Tools Element & News Tools Element > Legend > Deselect All / Select All
// ================================================================================================

@mixin mini-button {
  margin-bottom: 5px;
  padding: 7px 12px;
  font-size: .875em;
  line-height: 1.2;
}

.fsStyleDefaultButton {
  @include button;

  &.fsLoadMoreButton {
    margin-bottom: 0;
  }

  &.fsSelectAll {
    @include mini-button;
  }
}

// ================================================================================================
// Generic fsStyleUpdateButton
// Includes:
// fsConstituentSearchButton - Constituent Element > Search > Search Directory
// fsElementToolsSearchButton - All Element Tools Elements > Search Button
// fsUpdateFilters - Calendar Tools Element > Legend - Update Calendar Button
// - News Tools Element > Category Filter > Filter Categories

// fsCommentCount & fsCommentCount News List Element > Comment Button
// Post Element > Comment button
// Constituent Carpool Map Element > Update Button
// ================================================================================================

.fsStyleUpdateButton {
  @include button;
}

