// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/content

@media print {
	// Hide Areas
	// ==========================================================================
	.nav-main,
	.nav-sub,
	.nav-social,
	.nav-utility-header,
	.nav-utility-footer,
	#fsMenu,
	#fsFooter,
	#fsHeader,
	.fsThumbnail,
	.hide-for-print {
		display: none !important;
	}

	// Reset Width
	// ==========================================================================
	#fsPageContent,
	#fsBannerLeft,
	#fsBannerRight {
		width: 100% !important;
	}

	// Font Sizes
	// ==========================================================================
	html { font-size: 100%; /* for IE */ }
	body { font-size: 62.5%; }

	// Misc
	// ==========================================================================
	*,
  *:before,
  *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }

  // Show Only Active Slide
  .slick-slide {
      display: none !important;
      &.slick-active {
          display: block !important;
      }
  }

  // Reset adaptiveHeight
  .slick-list {
      height: auto !important;
  }

  // Remove Scrollbars
  .slick-track {
      width: auto !important;
      height: auto !important;
      transform: none !important;
      .slick-slide {
          width: auto !important;
      }
  }

  a[class*='fs_style'] {
  	border-color: #000;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
      content: "";
  }

  pre {
      white-space: pre-wrap !important;
  }
  pre,
  blockquote {
      page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
      display: table-header-group;
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }

  // expose collapsed tabs/accordions

  .fsPanel>header ~ .fsElementContent {
  	display: block;
  }
}
