// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/content

// ================================
// Lead In
// ================================

.lead-in {
  $size: 20;
  font-size: ce($size);
  line-height: ce(24, $size);
}


// ================================
// Blockquote
// ================================

blockquote {
  position: relative;
  margin: $gutter 0;
  font-size: 1em;
  line-height: 1.2em;

  &:before {
    position: absolute;
    right: 100%;
    top: 0;
    content: '\201C';
  }

}


// Cite
// ================================

cite {
  display: block;
  margin: 0 0 $gutter;
  font-style: normal;

  &:before {
    content: '- ';
  }

}


// ================================
// Callout
// ================================

.callout {
  padding: $gutter;
  background: $m1;
  color: #fff;

  &.left {
    float: left;
    margin-left: $gutter;

    @include breakpoint($bp-small) {
      width: 50%;
    }

  }

  &.right {
    float: right;
    margin-right: $gutter;

    @include breakpoint($bp-small) {
      width: 50%;
    }

  }

}
