// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! _custom.scss - src/sass/modules/search/ - custom site search, design based */

// this partial is for the custom search (.site-search) in your header/footer etc...
// example page: http://coderepo.demo.finalsite.com/production/search

// alternative html method in place of search element:
// https://stash.fs4.us/snippets/e50a625470cf4bf4810335d9cbe0f144

//<div class="top-search">
//	<form method="get" action="/search-results" class="search-form" role="search">
//		<label for="search-text">Search:</label>
//		<input type="text" name="q" aria-label="search text" id="search-text">
//		<button type="submit">Search</button>
//	</form>
//</div>

// ****************
// PLEASE NOTE: If there is a second version of this on the page, e.g. in the mobile menu
// then the <label> "for" attribute and the <input> "id" attribute must be updated to be unique
// ****************

// it is still best practice to fill out the variables because the main search element will take on some of these styles as well

$search-width: 400px;
$search-height: 50px;

//input
$input-bg-color: $m2;
$input-text-color: $s1;
$input-font-size: $body-font-size;
$input-font-family: $sans-serif;

//submit button
$submit-button-width: 75px;
$submit-font-family: $sans-serif;
$submit-font-size: $body-font-size; //$font-icon
$submit-text: 'Search'; //unicode
$submit-text-color: #fff;
$submit-bg-color: $m1;
$submit-hover-bg-color: darken($m2, 50%);


@mixin searchInput {
	padding: 0;

	div.gsc-input-box {
		border: 0;
		height: 100%;

		input.gsc-input{
			background: $input-bg-color !important;
			background-image: none !important;
			width: 100%;
			height: $search-height !important;
			color: $input-text-color;
			padding-left: 10px !important;
			padding-right: $submit-button-width + 10px !important;
			margin: 0 !important;
			border-radius: 0!important;
			font-size: $input-font-size;
			font-family: $input-font-family;
		}
		
	}
}

@mixin searchButton {
	padding: 0;
	overflow: hidden;
	height: $search-height;
	width: $submit-button-width;
	background: $submit-bg-color;
	position: absolute;
	right: 0;
	top: 0;
	transition: .3s;

	&:after {
		content: $submit-text;
		color: $submit-text-color;
		font-family: $submit-font-family;
		opacity: 1;
		display: block;
		position: absolute;
		text-align: center;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		line-height: $search-height;
		font-size: $submit-font-size;

		//add your styles for custom search icon here
	}

	&:hover {
		background: $submit-hover-bg-color;
		transition: .3s;
	}

	input.gsc-search-button{
		border: 0;
  	height: 100%;
  	width: 100%;
  	color: transparent;
  	opacity: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
	}
}


// Custom Site search                                               
// ==============================================================

.fsSearch.site-search {

	form.gsc-search-box-tools{ //form that holds all the weirdness
		width: $search-width;
		
		> table.gsc-search-box{

			td.gsc-input {
				@include searchInput;
			}

			td.gsc-search-button {
				@include searchButton;
			}
		}
	}

	@include placeholder($input-text-color);
}

