// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! _search-box.scss - src/sass/modules/search/ - sitewide search box */

// example: http://coderepo.demo.finalsite.com/production/search

@mixin searchInputDefault {
	padding: 0;

	div.gsc-input-box {
		border: 0;
		height: 100%;
		border: solid 1px $d1;

		input.gsc-input{
			background: #fff !important;
			background-image: none !important;
			width: 100%;
			height: $search-height !important;
			color: $d1;
			padding-left: 10px !important;
			padding-right: $submit-button-width + 10px !important;
			margin: 0 !important;
			border-radius: 0 !important;
			font-size: $input-font-size;
			font-family: $input-font-family;
		}
		
	}
}

@mixin searchButtonDefault {
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: $submit-button-width;
	background: $d1;
	position: absolute;
	transition: .3s;
	right: 0;
	top: 0;

	&:after {
		content: $submit-text;
		color: $submit-text-color;
		opacity: 1;
		display: block;
		position: absolute;
		text-align: center;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		line-height: $search-height;
		font-size: $submit-font-size;
		font-family: $submit-font-family;

		//add your styles for custom search icon here
	}

	&:hover {
		background: $submit-hover-bg-color;
		transition: .3s;
	}

	input.gsc-search-button{
		border: 0;
  	height: 100%;
  	width: 100%;
  	color: transparent;
  	opacity: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
	}
}


// Sitewide Search Box 
// =================================================================

.fsSearch:not(.site-search) {

	form.gsc-search-box-tools{ //form that holds all the weirdness
		
		> table.gsc-search-box{

			td.gsc-input {
				@include searchInputDefault;
			}

			td.gsc-search-button {
				@include searchButtonDefault;
			}
		}
	}
}
