// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! _search-results.scss - src/sass/modules/search/ - sitewide search results */

.fsSearchResults, .fsSearchFieldWithResults {

	form.gsc-search-box-tools{
		margin-bottom: $gutter;
	}

	.gsc-control-cse {
		padding: 0;
		font-family: $input-font-family;
		font-size: $input-font-size;
	}

	.gsc-results {
		width: 100%;
	}

	.gsc-webResult .gsc-result {
		margin-bottom: $gutter;
		border-bottom: solid 1px #ccc !important;
		padding: 0 0 $gutter;

		.gs-result .gs-snippet {
			color: $d1;
		}

		.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
			color: $m2;
		}
	}

	.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
		padding: 0;
	}

	div.gs-title {
		margin-bottom: $gutter /2;
	}

	a.gs-title, .gsc-results .gsc-cursor-box .gsc-cursor-page {
		color: $a1 !important;
		outline: transparent;

		&:hover {
			color: $a2 !important;
		}
	}

	.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
		font-size: $body-font-size;
	}

	.gsc-results .gsc-cursor-box {
		margin: 10px 0;
	}
}

