// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - athletics events */

.fsAthleticsEvent {

  > .fsElementContent {
    width: 100%;
  }

  // ================================
  // General
  // ================================
  .fsAlertFeeds {
    margin-bottom: ($gutter/2);
  }
  .fsElementEventIcon {
    display: inline-block;
    max-width: 100%;
  }

  article > .fsDateTime {}

  .fsDate {}

  .fsTime {}

  .fsTitle {
    font-size: $body-font-size;
    line-height: $body-line-height;
    margin-bottom: 0;
  }

  div.fsTitle {
    display: inline-block;
  }


  .fsAthleticsEventDetailLink {}

  .fsAlertIcon {}

  .fsAthleticsOpponents {}

  .fsAthleticsVs {}

  .fsAthleticsOpponentNames {}

  .fsAthleticsAdvantage {}

  .fsAthleticsDismissal {}
}



