// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - athletics events */

.fsAthleticsEvent {

  &.fsEvent {

  	article {
  		> div {
  			margin-bottom: ($gutter/2);

  			&:last-child {
  				margin-bottom: 0;
  			}
  		}
  	}

  	.fsAthleticsOpponents {
  		display: inline-block;
  	}

  	.fsAthleticsVs {
  		+ div {
  			display: inline-block;
  		}
  	}
  }
}




