// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - athletics events - list subtype */

// ================================
// List
// ================================

.fsAthleticsEvent {

  &.fsList {

    @if $divide-fsList-all == false {
      @if $divide-fsList-athletics == true {
        @include fsList-article-border;
      }
    }


    .fsDateTime {}

    .fsDate {}

    .fsTime {}


    .fsTitle {}

    .fsElementEventIcon {
      margin-right: 10px;
      img { }
    }

    .fsAthleticsEventDetailLink {
      outline: 0;
    }

    .fsAlertIcon {
      margin-left: 5px;
      margin-bottom: -3px;
    }

    .fsAthleticsOpponents {
      display: inline;
    }

    .fsAthleticsVs {}

    .fsAthleticsOpponentNames {
      display: inline;
    }

    .fsAthleticsAdvantage {}

    .fsAthleticsEventReadMoreLink {
      display: inline-block;
      margin-top: 5px;
    }

    .fsAthleticsDismissal,
    .fsAthleticsDeparture,
    .fsAthleticsReturn,
    .fsAthleticsPickup {
      margin-top: 5px;
    }

    .fsAthleticsDismissalLabel,
    .fsAthleticsDepartureLabel,
    .fsAthleticsReturnLabel,
    .fsAthleticsPickupLabel {
      display: inline-block;

      + div {
        display: inline-block;
      }
    }
    
  }

}


