// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - athletics roster */

//example page: http://coderepo.demo.finalsite.com/production/athletics/athletics-roster
//content managed via the athletics manager > teams > team roster

  // ================================
  // Labels - List & Table
  // ================================

  %roster-lable-before {
    margin-right: 5px;
    display: inline-block;
    font-weight: $bold;
  }

  %roster-labels {
    &.fsRosterPlayerNumber {
      &:before {
        content: 'Number: ';
      }
    }
    &.fsRosterName {
      &:before {
        content: 'Name: ';
      }
    }
    &.fsRosterPosition {
      &:before {
        content: 'Position: ';
      }
    }
    &.fsRosterClass {
      &:before {
        content: 'Class: ';
      }
    }
    &.fsRosterGradeLevel{
      &:before {
        content: 'Grade: ';
      }
    }
    &.fsRosterHometown {
      &:before {
        content: 'Hometown: ';
      }
    }
    &.fsRosterHeight {
      &:before {
        content: 'Height: ';
      }
    }
    &.fsRosterWeight {
      &:before {
        content: 'Weight: ';
      }
    }
  }

// ================================
// Roster
// ================================

.fsAthleticsRoster {

  &.fsPlayers {}

  &.fsCoaches {}

  // ================================
  // Table
  // ================================
  .fsElementTable {
    @extend %table-styled;

    thead {
      @media (max-width: $bp-large) {
        display: none;
      }
      th {
        &:first-child{ }
        &:last-child{ }
      }
    }

    td {
      @extend %roster-labels;
      &:before {
        @extend %roster-lable-before;
        @include breakpoint($bp-large) {
          display: none;
        }
      }
      @media (max-width: $bp-large) {
        display: inline-block;
        width: 100%;
        padding: 0 ($gutter/2);
        &:not(:last-child) {
          border:0;
        }
        &:first-of-type{
          padding-top: ($gutter/2);
        }
        &:last-of-type {
          padding-bottom: ($gutter/2);
        }
      }
    }
  }
}


// ================================
// List
// ================================

.fsAthleticsRosterContent {
  margin-bottom: ($gutter);

  &:empty,
  &:last-child {
    margin-bottom: 0;
  }
}

.fsAthleticsRosterList {
  @include list-reset;

  li {
    padding-bottom: $article-padding-bottom;
    margin-bottom: $article-margin-bottom;
    border-bottom: $article-border-bottom;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    > div {
      @extend %roster-labels;
      margin-bottom: ($gutter/2);
      &:before {
        @extend %roster-lable-before;
      }
      &:last-child {
        margin-bottom: 0;
      }

      &.fsRosterName {
        @extend %fsTitle;
        margin-bottom: ($gutter/2);

        &:before {
          display: none;
        }
      }
    }
  }

  .fsCoachImage {
    display: block;
    margin-bottom: ($gutter/2);
  }
}