// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - athletics events - table*/

// ================================
// Table
// ================================

.fsAthleticsEvent {

  &.fsTable {

    .fsTitle {}

    .fsDateTime, 
    .fsAthleticsScore {
      @include breakpoint($bp-large + 1px) {
        white-space: nowrap;
      }
    }

    .fsElementTable {
      @extend %table-styled;
      margin-bottom: 0;

      thead {
        @media (max-width: $bp-large) {
          display: none;
        }
        th { }
      }

      td {
        @media (max-width: $bp-large) {
          display: inline-block;
          width: 100%;
          padding: 0 ($gutter/2);
          &:not(:last-child) {
            border:0;
          }
          &:first-of-type{
            padding-top: ($gutter/2);
          }
          &:last-of-type {
            padding-bottom: ($gutter/2);
          }
          &:before {
            display: inline-block;
            font-weight: $bold;
          }
          &.fsTitle {
            &:before {
              content: 'Team: ';
            }
          }
          &.fsAthleticsOpponents {
            display: inline-block;
            .fsAthleticsVs {
              display: inline-block;
            }
            .fsAthleticsOpponentNames {
              display: inline-block;
            }
            &:before {
              content: 'Opponent: ';
            }
          }
          &.fsAthleticsDate {
            .fsDateTime {
              display: inline-block;
            }
            &:before {
              content: 'Date: ';
            }
          }
          &.fsAthleticsTime {
            .fsDateTime {
              display: inline-block;
            }
            &:before {
              content: 'Time: ';
            }
          }
          &.fsAthleticsLocations {
            &:before {
              content: 'Location: ';
            }
          }
          &.fsAthleticsAdvantage {
            &:before {
              content: 'Advantage: ';
            }
          }
          &.fsAthleticsEventType {
            &:before {
              content: 'Type: ';
            }
          }
          &.fsAthleticsDetails {
            &:before {
              content: 'Details: ';
            }
          }
          &.fsAthleticsResult {
            &:before {
              content: 'Result: ';
            }
          }
          &.fsAthleticsScore {
            &:before {
              content: 'Score: ';
            }
          }
          &.fsAthleticsAlerts {
            &:before {
              content: 'Alerts: ';
            }
          }
          &.fsAthleticsDismissal {
            &:before {
              content: 'Dismissal: ';
            }
          }
          &.fsAthleticsDeparture {
            &:before {
              content: 'Departure: ';
            }
          }
          &.fsAthleticsReturn {
            &:before {
              content: 'Return Time: ';
            }
          }
          &.fsAthleticsPickup {
            &:before {
              content: 'Pickup Time: ';
            }
          }
          &.fsAthleticsRecap {
            &:before {
              content: 'Recap: ';
            }
          }
          &.fsAthleticsStatus {
            &:before {
              content: 'Status: ';
            }
          }
        }
      }
    }

    .fsAthleticsDismissalLabel,
    .fsAthleticsDepartureLabel,
    .fsAthleticsReturnLabel,
    .fsAthleticsPickupLabel {
      display: none;
    }

    .fsAthleticsDismissal {
      .fsDateTime {
        display: inline-block;

        @include breakpoint(800px) {
          display: block;
        }
      }
    }
  }
}



