// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - athletics teams */


// ================================
// Team - Directory
// ================================

.fsAthleticsTeam {

  &.fsDirectory {}

}

.fsAthleticsTeamDirectory {
  @include list-reset;
  max-width: 100%;

  >li {
    margin-bottom: ($gutter/2);
  }

  .fsAthleticsTeamIcon {
    display: inline-block;
  }
}

// ================================
// Team - Profile
// ================================

.fsAthleticsTeam {

  &.fsProfile {}
  
}

.fsAthleticsTeamProfile {}

.fsAthleticsTeamIcon {
  margin-right: 10px;

  img {}

}

.fsAthleticsTeamName {}

.fsAthleticsTeamHeaderContent {

  p {}

}

.fsAthleticsTeamOverviewContent {}
