// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

// ================================
// Board Element List
// ================================

.fsBoardElement {

  &.fsList {
    @if $divide-fsList-all == false {
      @if $divide-fsList-board == true {
        @include fsList-article-border;
      }
    }
  }

}
