// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

// ================================
// Post Element List
// ================================

.fsPostElement {

  &.fsList {
    @if $divide-fsList-all == false {
      @if $divide-fsList-post == true {
        @include fsList-article-border;
      }
    }
  }

}
