// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// ================================
// Default Navigation Styling
// ================================

$nav-default-content: (
  background: transparent,
  background--hover: transparent,
  background--active: transparent,

  color: $a1,
  color--hover: $a2,
  color--active: $a2,

  link-padding-x: 0,
  link-padding-y: ($gutter / 2),
  link-padding-increment: ($gutter / 2),
);

$style-nav-element: true;

// General fsNavigation List Subtype Style
// =======================================

@mixin nav-basic-styling {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    &.fsNavCurrentPage,
    &.fsNavCurrentPageAncestor {
      > a { 
        color: map-get($nav-default-content, color--active);
        background: map-get($nav-default-content, background--active); 
      }
    }
  }
  
  a {
    display: block;
    padding: map-get($nav-default-content, link-padding-y) map-get($nav-default-content, link-padding-x);
    color: map-get($nav-default-content, color);
    background: map-get($nav-default-content, background); 

    &:hover,
    &:focus {
      color: map-get($nav-default-content, color--hover);
      background: map-get($nav-default-content, background--hover); 
    }
  }


  // First Level
  // ================================
  .fsNavLevel1 {

    > li {

      > a {}
      
    }
  }

  // Second Level
  // ================================
  .fsNavLevel2 {
    > li {
      > a {
        padding-left: map-get($nav-default-content, link-padding-increment) + map-get($nav-default-content, link-padding-x);
      }
    }
  }

  // Third Level
  // ================================
  .fsNavLevel3 {
    > li {
      > a {
        padding-left: (map-get($nav-default-content, link-padding-increment) * 2) + map-get($nav-default-content, link-padding-x);
      }
    }
  }

  // Fourth Level
  // ================================
  .fsNavLevel4 {
    > li {
      > a {
        padding-left: (map-get($nav-default-content, link-padding-increment) * 3) + map-get($nav-default-content, link-padding-x);
      }
    }
  }

  // Fifth Level
  // ================================
  .fsNavLevel5 {
    > li {
      > a {
        padding-left: (map-get($nav-default-content, link-padding-increment) * 4) + map-get($nav-default-content, link-padding-x);
      }
    }
  }
}

.fsNavigation {

	@if $style-nav-element == true {
		@include nav-basic-styling;
	}

}