// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// ================================
// Main Navigation / First Level
// ================================

$nav-main-link: (
  background: transparent,
  background--hover: $m2,
  background--active: $m2,

  color: #fff,
  color--hover: $s1,
  color--active: $s1,
) !default;

.nav-main {
  margin-bottom: 0;
  .fsHeader & {
    display:none;
    @include breakpoint($bp-main-nav-inline) {
      display:block;
    }
  }
  
  .fsNavLevel1 {
    @include breakpoint($bp-main-nav-inline) {

      @include compartment;
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include modernizr(flexbox, false){
        @include justify;
      }

    }

    > li {

      @include breakpoint($bp-main-nav-inline) {
          flex: 1 auto;
      }

      &:hover {
        > a {
          color: map-get($nav-main-link, color--hover);
          background: map-get($nav-main-link, background--hover); 
        }
      }

      &[class*="fsNavCurrentPage"] {
        > a { 
          color: map-get($nav-main-link, color--active);
          background: map-get($nav-main-link, background--active); 
        }
      }

      > a {
        display: block;
        color: map-get($nav-main-link, color);
        background: map-get($nav-main-link, background); 
        padding: ce($gutter);

        &:focus {
          color: map-get($nav-main-link, color--hover);
          background: map-get($nav-main-link, background--hover); 
        }
      }


      // If the page has JS, open the menu via the class
      html.js &, 
      html:not(.js) &.menu-item-open {
        @include drop("> .fsNavPageInfo", $onClass:".menu-item-open");

        &:hover {
          .fsNavPageInfo {
            max-height: 9999px;
          }
        }
      }

      // Include a hover rule to open the menu for when JS is disabled / doesn't load
      html:not(.js) & {
        @include drop("> .fsNavPageInfo");
      }
    }
  }
}



// ================================
// DropDown / Second Level
// ================================

$nav-dropdown-link: (
  background: transparent,
  background--hover: $m2,
  background--active: transparent,

  color: #fff,
  color--hover: $s1,
  color--active: $s1,
) !default;

.nav-main {
  .fsNavPageInfo {
    background: $m1;
    text-align: left;
    z-index: $character-index;

    // First Dropdown
    @at-root .nav-main .fsNavLevel1 > li:first-child .fsNavPageInfo {
      left: 0;
      transform: none;
    }

    // Last Dropdown
    @at-root .nav-main .fsNavLevel1 > li:last-child .fsNavPageInfo {
      right: 0;
      left: auto;
      transform: none;
    }

  }

  // Enter data within the page details section of composer
  // (The little gear in the lower right hand side of a back end page)
  // Make sure to enable these within the navigation element settings
  .fsNavPageDescription {}

  .fsNavPageThumbnail {}

  .fsNavLevel2 {

    li {

      a {
        display: block;
        color: map-get($nav-dropdown-link, color);
        background: map-get($nav-dropdown-link, background); 
        padding: ce($gutter / 2);

        &:hover,
        &:focus{
          color: map-get($nav-dropdown-link, color--hover);
          background: map-get($nav-dropdown-link, background--hover); 
        }

      }

      &[class*="fsNavCurrentPage"] {
        > a {
          color: map-get($nav-dropdown-link, color--active);
          background: map-get($nav-dropdown-link, background--active); 
        }
      }

    }

  }

}

