// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// ==========================================================================
// Site Map
// ==========================================================================

// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// ================================
// Site Map
// ================================

.nav-site-map {

  // shared styles
  // ================================
  ul {
    margin: 0 0 0 20px;
    padding: 0;

    li {}

    a {
      &:hover,
      &:focus { }
    }

    &.fsNavLevel1 {
      margin-left: 0;
      list-style: none;

      @media (min-width: $bp-medium){
        column-count: 2;
        column-gap: 0;
        column-rule: 0;
        min-height: initial; // chrome fix

        li {
          break-inside: avoid-column;
        }
      }

      > li {

        > a {
          margin-bottom: 20px;
          font-weight: $bold;
        }
      }
    }

    &.fsNavLevel2 { 
      list-style: disc; 
    }

    &.fsNavLevel3 { 
      list-style: circle; 
    }

    &.fsNavLevel4 { 
      list-style: square; 
    }

    &.fsNavLevel5 { 
      list-style: disc; 
    }
  }
}