// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/navigation

// ================================
// Tiered Navigation
// ================================

$nav-tier-content: (
  background: transparent,
  background--hover: $s1,
  background--active-section: $s1,

  background--current: darken($s1, 10%),
  background--current-hover: $s1,

  background--ancestor: transparent,
  background--ancestor-hover: $s1,
  
  color: $a1,
  color--hover: $a2,

  color--current: $m1,
  color--current-hover: $m2,

  color--ancestor: $a1,
  color--ancestor-hover: $a1,

  link-padding-x: 10px,
  link-padding-y: 10px,
  link-padding-increment: 10px,
);

.nav-tier {

  // General Styles
  // ================================
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {

      a {
        display: block;
        padding: map-get($nav-tier-content, link-padding-y) map-get($nav-tier-content, link-padding-x);
        color: map-get($nav-tier-content, color);
        background: map-get($nav-tier-content, background); 

        &:hover,
        &:focus {
          color: map-get($nav-tier-content, color--hover);
          background: map-get($nav-tier-content, background--hover); 
        }
      }

      &.fsNavCurrentPage {
        > a { 
          color: map-get($nav-tier-content, color--current);
          background: map-get($nav-tier-content, background--current); 

          &:hover, 
          &:focus {
            color: map-get($nav-tier-content, color--current-hover);
            background: map-get($nav-tier-content, background--current-hover); 
          }
        }
      }

      &.fsNavCurrentPageAncestor {
        background: map-get($nav-tier-content, background--active-section);
        > a { 
          color: map-get($nav-tier-content, color--ancestor);
          background: map-get($nav-tier-content, background--ancestor); 

          &:hover, 
          &:focus {
            color: map-get($nav-tier-content, color--ancestor-hover);
            background: map-get($nav-tier-content, background--ancestor-hover); 
          }
        }
      }
    }
  }


  // First Level
  // ================================
  .fsNavLevel1 {
    padding-left: 0;

    > li {
      border-bottom: $default-border-style;

      &:first-child {}

      &:last-child { 
        border-bottom: none; 
      }

      > a { }
    }
  }

  // Second Level
  // ================================
  .fsNavLevel2 {
    > li {
      > a {
        padding-left: map-get($nav-tier-content, link-padding-increment) + map-get($nav-tier-content, link-padding-x);
      }
    }
  }

  // Third Level
  // ================================
  .fsNavLevel3 {
    > li {
      > a {
        padding-left: (map-get($nav-tier-content, link-padding-increment) * 2) + map-get($nav-tier-content, link-padding-x);
      }
    }
  }

  // Fourth Level
  // ================================
  .fsNavLevel4 {
    > li {
      > a {
        padding-left: (map-get($nav-tier-content, link-padding-increment) * 3) + map-get($nav-tier-content, link-padding-x);
      }
    }
  }

  // Fifth Level
  // ================================
  .fsNavLevel5 {
    > li {
      > a {
        padding-left: (map-get($nav-tier-content, link-padding-increment) * 4) + map-get($nav-tier-content, link-padding-x);
      }
    }
  }
}

