// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/utility

/*! helpers - box-model v0.0.1 */

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// Danger Zone
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// ================================
// Element Breath
// ================================

// Example usage:
// .isolated-container {
//   @include margin-x(ce($gutter * 2));
// }

// Puts stress on the left and right of a container
@mixin margin-x($calculation: ce($gutter)) {
  margin-right: $calculation;
  margin-left: $calculation;
}

.margin-x,
%margin-x {
  @include margin-x;
}

.margin-x-2x,
%margin-x-2x {
  @include margin-x(ce($gutter * 2));
}

// Puts stress on the top and bottom of a container
// Margins like this will collapse overtop of each other
@mixin margin-y($calculation: ce($gutter)) {
  margin-top: $calculation;
  margin-bottom: $calculation;
}

.margin-y,
%margin-y {
  @include margin-y;
}

.margin-y-2x,
%margin-y-2x {
  @include margin-y(ce($gutter * 2));
}


// Example usage:
// .pillow-container {
//   @include padding-x(ce($gutter * 2));
// }

// Adds space to the left and right of a container
@mixin padding-x($calculation: ce($gutter)) {
  padding-right: $calculation;
  padding-left: $calculation;
}

.padding-x,
%padding-x {
  @include padding-x;
}

.padding-x-2x,
%padding-x-2x {
  @include padding-x(ce($gutter * 2));
}

// Adds space to the top and bottom of a container
@mixin padding-y($calculation: ce($gutter)) {
  padding-top: $calculation;
  padding-bottom: $calculation;
}

.padding-y,
%padding-y {
  @include padding-y;
}

.padding-y-2x,
%padding-y-2x {
  @include padding-y(ce($gutter * 2));
}


// ================================
// Stretched Container
// ================================

// Example usage:
// .stretched-container {
//   @include stretch-container;
// }

@mixin stretch-container {
  @include margin-x(ce(-$gutter));
}

.stretch-container,
%stretch-container {
  @include stretch-container;
}


// ================================
// Covering Elements
// ================================

// Example usage:
// .dialogue {
//   @include cover;
// }

@mixin cover($default-position: false) {
  position: absolute;
  height: 100%;
  width: 100%;

  @if $default-position {
    top: 0;
    left: 0;
  }

}

.cover,
%cover {
  @include cover;
}
