// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/utility

/*! helpers - presentational v0.0.1 */

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// Danger Zone
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// ================================
// Backgrounds
// ================================

// Example usage:
// .cover-photo {
//   @include bg-cover;
// }

@mixin bg-cover($position: 50% 50%) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: cover;
}


// ================================
// Gradients
// ================================

// Example usage:
// .simple-gradient {
//   @include gradient(#fcd116, peachpuff);
// }

@mixin gradient($starting-color, $ending-color) {
  background: $starting-color;
  background:
    linear-gradient(
      to bottom,
        $starting-color 0,
        $ending-color 100%
    );
}


// Example usage:
// .simple-gradient {
//   @include diagonal-stripes(50px, #fcd116, peachpuff);
// }

//codepen.io/tschisler/pen/lBJID

@mixin diagonal-stripes($size: 100px, $color--stripe: #eee, $background: #333) {
  background-size: $size $size;
  background-color: $background;
  background-image:
    linear-gradient(
      -45deg,
        $color--stripe 25%,
        $background 25%,
        $background 50%,
        $color--stripe 50%,
        $color--stripe 75%,
        $background 75%,
        $background
    );
}



// ================================
// Transitions
// ================================

@mixin iterative-delay($elementTotal, $time, $delay) {

  @for $i from 1 through $elementTotal {

    &:nth-child(#{$i}) {
      transition: $time ($delay * $i);
    }

  }

}

// ================================
// Convert tracking to letter-spacing
// ================================
// Example use: @include tracking(50);
// Output: letter-spacing: 0.05em;

@function tracking( $target ){
  @return ($target / 1000) * 1em;
}

@mixin tracking( $target ){
  letter-spacing: tracking( $target );
}