// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/utility

/*! helpers - typography v0.0.1 */

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// Danger Zone
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// ================================
// Font Icons
// ================================

// Example usage:
// .label:before {
//   @include font-icon('\f0d2');
// }

@mixin font-icon($glyph) {
  content: $glyph;
  font-family: $font-icon;
  font-smoothing: antialiased;
  font-weight: normal;
  speak: none;
}
