// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/utility

/*! helpers - ui-pattern v0.0.1 */

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// Danger Zone
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// ================================
// Off Canvas
// ================================

@mixin off-canvas($direction, $transform-value: 20%) {
  position: absolute;
  z-index: $foreground-index;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity .3s,
    visibility .3s,
    transform .3s;

  // From off-left to right
  @if $direction == ltr {
    top: 0;
    left: 0;
    transform: translate3d($transform-value * -1, 0, 0);
    transform: translate($transform-value * -1, 0);
  }
  // From off-right to left
  @else if $direction == rtl {
    top: 0;
    right: 0;
    transform: translate3d($transform-value, 0, 0);
    transform: translate($transform-value, 0);
  }
  // From off-top to bottom
  @else if $direction == ttb {
    top: 0;
    left: 0;
    transform: translate3d(0, $transform-value * -1, 0);
    transform: translate(0, $transform-value * -1);
  }
  // From off-bottom to top
  @else if $direction == btt {
    bottom: 0;
    left: 0;
    transform: translate3d(0, $transform-value, 0);
    transform: translate(0, $transform-value);
  }
  @else {}

}

@mixin off-canvas-active($default-transform: true) {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;

  @if $default-transform {
    transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
  }

}


// ================================
// Dropdown
// ================================

/*
Example sites:
http://coderepo.demo.finalsite.com/stuff-by-al/dropdown-mixin
http://codepen.io/foxareld/pen/BNpWJm

Ex 1:
    <div class='parent'>
      <span class='sibling'>Dropdown</span>
      <ul class='dropdown'>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
      </ul>
    </div>

Use:
    .parent {
        @include drop(".dropdown"); //this makes .dropdown drop on hover of .parent
    }

    //this makes .dropdown drop when .parent has class .drop-class, it was also have a transition
    .parent {
        @include drop(".dropdown", true, ".drop-class");
    }

    //this makes .dropdown drop when .sibling has class .drop-class, it will not have a transition
    .sibling {
        @include drop("+ .dropdown", false, ".drop-class");
    }

*/

@mixin drop($drop, $anim: false, $onClass: false){

    //  $drop = selector that points to dropdown.
    //  $anim = boolean to make dropdown transition (optional)
    //  $onClass = class that activates dropdown (optional)

    position: relative;

    #{$drop} {
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;

        @if $anim {
            transition: max-height 0.5s cubic-bezier(0,1,0,1);
        }

    }

    @if $onClass {

        //if parent has open class
        #{$onClass} & #{$drop}{
            max-height: 9999px;

            @if $anim {
                transition: max-height 0.5s cubic-bezier(1,0,1,0);
            }
        }

        //if element has open class
        //@each is to loop through selector list and add open class to each class

        @each $class in & {
            @at-root #{$class + $onClass} #{$drop} {
                max-height: 9999px;

                @if $anim {
                    transition: max-height 0.5s cubic-bezier(1,0,1,0);
                }
            }
        }

    }
    @else {

        &:hover {

          #{$drop}{
            max-height: 9999px;

            @if $anim {
                transition: max-height 0.5s cubic-bezier(1,0,1,0);
            }
          }

        }

        //focus for mobile "hover"
        @include maxbp($bp-medium) {

          &:focus {

            #{$drop}{
              max-height: 9999px;

              @if $anim {
                  transition: max-height 0.5s cubic-bezier(1,0,1,0);
              }
            }

          }
        }

    }
}