// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! _all.scss - src/sass/modules/calendar/list.scss - calendar each article style */

// this partial determines how each item will display in the calendar view (not include grid)
// the dateStyle mixin styles the article and cascades into the slideshow and event calendar output
// example: http://coderepo.demo.finalsite.com/production/calendar

// ================================
// List
// ================================

//custom event date flag
$use-dateStyle: true !default;
$flag-height: 80px !default;
$flag-width: 80px !default;
$flag-text-color: #fff !default;
$flag-background: $m1 !default;

$article-padding-left: 100px !default;

$color-icon-size: 12px; //in article only


// list item with custom date flag styling
// $use-dateStyle default is true
@mixin dateStyle {

  article {
    position: relative;
    padding-left: $article-padding-left;
    min-height: $flag-height;
    padding-top: 0; //overrides padding in slideshow articles

    .fsElementEventColorIcon {
      width: $color-icon-size;
      height: $color-icon-size;
    }
  }

  //the custom date flag
  .fsDate {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: $flag-height;
    width: $flag-width;
    color: $flag-text-color;
    background: $flag-background;

    // add more custom styling here
    display: flex;
    flex-direction: column;
    justify-content: center;

    >span {
      display: block;

      &.fsMonth {}

      &.fsDay {}

      &.fsYear{}

    }
  }
}// end custom list styling


// the following classes are associated with all calendar items except for the calendar grid
.fsCalendar {
  @if $use-dateStyle == true {
    @include dateStyle; 
  }

  article {}

  .fsTitle {} //calendar title

  .fsDate{} //if you choose not to use the dateStyle you can make updates or overrides here

  .fsEventDetails {}

  .fsTimeRange {

    &:before {
      // custom time icon
    }
  }

  .fsLocation {

    &:before {
      // custom location icon
    }
  }

  .fsNotes, .fsDescription {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .fsCalendarEventLink {} //read more link

}

