// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! _list.scss - src/sass/modules/calendar/list.scss - calendar event */

// this partial determines how each item will display in the calendar list view
// example: http://coderepo.demo.finalsite.com/production/calendar/list


.fsCalendar {

  &.fsList {
    @if $divide-fsList-all == false {
      @if $divide-fsList-calendar == true {
        @include fsList-article-border;
      }
    }

    @if $divide-fsList-calendar == true {
			@if $use-dateStyle == true {
				article {
					min-height: $flag-height + $article-padding-bottom;
				}

			}
    } @else {

      .fsListItems {
      	+ button {
      		margin-top: 0;
      	}
      }
    }
  }

}