// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! _slideshow.scss - src/sass/modules/calendar/slideshow.scss - calendar slideshow */

// this partial determines how each item will display in the calendar slideshow view

// js file: src/js/global.js - 'Responsive Built-in Sliders'
// The js is in the build by default and corresponds to both news and calendar horizontal slideshows, 
// it is required to make them responsive and the breakpoints/slick settings can be updated there

// example: http://coderepo.demo.finalsite.com/production/calendar/slideshow

.fsCalendar {

  &.fsSlideshow {
  	.fsAlertFeeds {
  		float: none;
  	}
  }

  &.fsSlideshowHorizontal {
  	.fsElementSlideshow {
  		@if $use-dateStyle == true {
	  		padding-left: 45px;
	  		padding-right: 45px;
	  		padding-bottom: 0;
	  	}
  	}
  }

  &.fsSlideshowVertical {
  	.fsElementSlideshow {
  		@if $use-dateStyle == true {
	  		padding-left: 45px;
	  		padding-top: 45px;
	  		padding-bottom: 45px;
	  	}
  	}
  }
}