// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - common - dialog box v0.0.1 */
/* Contains generic styles that apply to every element that has a pop-up/dialog option */

// Associated Elements:
//  - athletics event (fsAthleticsEvent)
//  - calendar (fsCalendar)
//  - constituent (fsConstituent)
//  - news (fsNews)
//  - post (fsPostElement)


// ================================
// Dialog/Modal Box
// ================================

$dialog-close-button: (
  color: $d1,
  color--hover: darken($d1, 20%),
);

.fsDialogCloseButton {
  opacity: 1;

  &:after, 
  &:before, {
    background: map-get($dialog-close-button, color);
  }

  &:focus {
    &:after, 
    &:before {
      background: map-get($dialog-close-button, color);
    }
  }

  &:hover {
    &:after, 
    &:before {
      background: map-get($dialog-close-button, color--hover);
    }
  }
}

.fsElementDialog {
  color: $d1;

  // // optional styling

  // max-width: calc(100% - 40px);
  // width: 700px;
  // min-width: 240px;
  // max-height: calc(100vh - 40px);

  // // touch scrolling

  // .touch & {
  //   overflow: scroll;
  //   -webkit-overflow-scrolling: touch;
  // }

}



