// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - common - list subtype v0.0.1 */
/* Contains generic styles that apply to every element with the class '.fsList' and the list subtype selected */

// Subtype: List (fsList)
// Associated Elements:
// 	- athletics event (fsAthleticsEvent)
// 	- board (fsBoardElement)
// 	- calendar (fsCalendar)
// 	- news (fsNews)
// 	- post (fsPostElement)

// border separator variables output athletics roster, players subtype by default

// ================================
// Border Separator Option
// ================================

$article-padding-bottom: $gutter !default;
$article-margin-bottom: $gutter !default;
$article-border-bottom: $default-border-style !default;

// border divide all instances of fsList
$divide-fsList-all: false !default;

// if $divide-fsList-all is false
// set element list types individually here
$divide-fsList-athletics: false !default;
$divide-fsList-board: false !default;
$divide-fsList-calendar: false !default;
$divide-fsList-news: false !default;
$divide-fsList-post: false !default;

@mixin fsList-article-border($clear-last-border: true) {
	article {
		padding-bottom: $article-padding-bottom;
		margin-bottom: $article-margin-bottom;
		border-bottom: $article-border-bottom;
	}

	@if $clear-last-border == true {
	  .fsListItems {
	    &:last-of-type {
			> article {
			    &:last-of-type {
			      margin-bottom: 0;
			      padding-bottom: 0;
			      border-bottom: none;
			    }
				}

				//silly month container for calendars
				> .fsMonthContainer {
		  		&:last-child {
						> .fsDayContainer {
				  		&:last-child {
				  			article {
				  				&:last-child {
				  					border-bottom: none;
				  					padding-bottom: 0;
				  					margin-bottom: 0;
				  				}
				  			}
				  		}
				  	}
				  }
			  }

				//silly day container for calendars
				> .fsDayContainer {
		  		&:last-child {
		  			article {
		  				&:last-child {
		  					border-bottom: none;
		  					padding-bottom: 0;
		  					margin-bottom: 0;
		  				}
		  			}
		  		}
		  	}
	    }

	    + button {
	      margin-top: $article-margin-bottom + $article-padding-bottom;
	    }
	  }
	}
}


// if $divide-fsList-all is true
// resets ALL element list variables to true 
// do not edit
@if ($divide-fsList-all == true) {
	$divide-fsList-athletics: true !default;
	$divide-fsList-board: true !default;
	$divide-fsList-calendar: true !default;
	$divide-fsList-news: true !default;
	$divide-fsList-post: true !default;
}

// ================================
// Element Subtype - List
// ================================

.fsList {
  @if ($divide-fsList-all == true) {
  	@include fsList-article-border;
  }

  @else {
	  article {
	    margin-bottom: $gutter;
	  }
  }
}


// =====================================
// Default List Navigation Type Styling
// =====================================

// change to false to remove all default styling
$style-element-fsListNav: true;

$listNav-default-content: (
  background: transparent,
  background--hover: transparent,
  background--active: transparent,

  color: $a1,
  color--hover: $a2,
  color--active: $a2,

  li-padding-x: 0,
  li-padding-increment: ($gutter / 2),
) !default;


// border divide all instances of fsListNav
$divide-fsListNav-all: true !default;

// if $divide-fsList-all is false
// set element list types individually here
$divide-fsListNav-resources: false !default;


$listItem-padding-bottom: $gutter !default;
$listItem-margin-bottom: $gutter !default;
$listItem-border-bottom: $default-border-style !default;

// General fsNavigation List Subtype Style
// =======================================

@mixin nav-list-divide-styling($clear-last-listItem: true) {
	padding: 0 map-get($listNav-default-content, li-padding-x) $listItem-padding-bottom;
	margin-bottom: $listItem-margin-bottom;
	border-bottom: $listItem-border-bottom;

	@if $clear-last-listItem == false {
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

@mixin nav-list-basic-styling {

  .fsStyleDefaultList {
    list-style: none;
    margin: 0;
    padding: 0;

    .fsListItem {


      a {
        display: inline-block;
        padding: 0;

        &:hover,
        &:focus {
          color: map-get($listNav-default-content, color--hover);
          background: map-get($listNav-default-content, background--hover); 
        }
      }

      &.fsResourceCollection {
        &.fsStateExpanded {
          > .fsResourceCollectionLink {
            margin-bottom: ($gutter / 2);
          }
        }
      }
    }
  }


  // First Level
  // ================================
  .fsListLevel1 {

    > .fsListItem {
      @if $divide-fsListNav-all == true {
        @include nav-list-divide-styling;
      } @else {
        padding-left: map-get($listNav-default-content, li-padding-x);
        padding-right: map-get($listNav-default-content, li-padding-x);
      }
      > a {}
      
    }
  }

  // Second Level
  // ================================
  .fsListLevel2 {
    > .fsListItem {
    	padding-left: map-get($listNav-default-content, li-padding-increment) + map-get($listNav-default-content, li-padding-x);
      > a {
        
      }
    }
  }

  // Third Level
  // ================================
  .fsListLevel3 {
    > .fsListItem {
    	padding-left: (map-get($listNav-default-content, li-padding-increment) * 2) + map-get($listNav-default-content, li-padding-x);
      > a {
        
      }
    }
  }

  // Fourth Level
  // ================================
  .fsListLevel4 {
    > .fsListItem {
    	padding-left: (map-get($listNav-default-content, li-padding-increment) * 3) + map-get($listNav-default-content, li-padding-x);
      > a {
        
      }
    }
  }

  // Fifth Level
  // ================================
  .fsListLevel5 {
    > .fsListItem {
    	padding-left: (map-get($listNav-default-content, li-padding-increment) * 4) + map-get($listNav-default-content, li-padding-x);
      > a {
        
      }
    }
  }
}

.fsListNav {

	@if $style-element-fsListNav == true {
		@include nav-list-basic-styling;
	}

}



