// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - social facebook */

// example page: http://coderepo.demo.finalsite.com/production/social-elements/facebook-element

// ================================
// Facebook Element
// ================================

.fsFacebook {
	margin-bottom: $gutter;
}

.fsFacebookList {
	@include list-reset;

	.fsFacebookListItem {
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    border-bottom: $default-border-style;
	}	
}

.fsFacebookFrom {
	@extend %fsTitle;
}

.fsFacebookExtras {
	margin-top: $gutter / 2;

	.fsFacebookThumb {
		margin-bottom: $gutter / 2;
		display: block;
	}

	.fsFacebookTitle {

		&[href*="https://www.facebook.com/finalsite/photos"] {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			display: block;
		}
	}

	.fsFacebookCaption {

	}

	.fsFacebookDesc {

	}

	.fsFacebookLikes {

	}

}// end fb extras

.fsFacebookFollow {
	margin-top: $gutter;
}



