// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - social vimeo */

// example page: http://coderepo.demo.finalsite.com/production/social-elements/vimeo-element

// ================================
// Vimeo Element
// ================================

.fsVimeo {
	margin-bottom: $gutter;

	iframe.fsSocialVideoFrame {
		margin-bottom: $gutter;
	}

}

.fsVimeoList {
	@include list-reset;

	.fsVimeoListItem {
		padding-bottom: $gutter;
		margin-bottom: $gutter;
		border-bottom: $default-border-style;
		transition: opacity .3s;
		opacity: .6;
		cursor: pointer;

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}

		&:hover {
			border: none;
			border-bottom: $default-border-style;
			padding: 0;
			padding-bottom: $gutter;
			opacity: 1;
			transition: opacity .3s;

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}
}

.fsVimeoThumb {
	margin-bottom: $gutter / 2;
	margin-right: $gutter;
	@include breakpoint(600px) {
		float: left;
		margin-bottom: 0;
	}
}

.fsVimeoTitle {
	@extend %fsTitle;
}

.fsVimeoViews {}

.fsVimeoDesc {}

.vimeo_view_link {
	a {
		@include button;
	}
}