// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - social youtube */

// example page: http://coderepo.demo.finalsite.com/production/social-elements/youtube-element

// ================================
// Youtube Element
// ================================

.fsYoutube {
	margin-bottom: $gutter;
	.fsSocialVideoFrame {
		margin-bottom: $gutter;
	}
}

.fsYoutubeList {
	@include list-reset;

	.fsYoutubeListItem {
		padding-bottom: $gutter;
		margin-bottom: $gutter;
		border-bottom: $default-border-style;
		transition: opacity .3s;
		opacity: .6;

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}

		&:hover {
			border: none;
			border-bottom: $default-border-style;
			padding: 0;
			padding-bottom: $gutter;
			opacity: 1;
			transition: opacity .3s;

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}
}

.fsYoutubeThumb {
	margin-bottom: $gutter / 2;
	margin-right: $gutter;
	float: none;
	@include breakpoint(600px) {
		float: left;
		margin-bottom: 0;
	}
}

.fsYoutubeTitle {
	@extend %fsTitle;
}

.fsYoutubeDesc {}

.Youtube_view_link {
	a {
		@include button;
	}
}
