// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

// ================================
// News All
// ================================

.fsNews {

  &.fsThumbnailAlignLeft {
    .fsThumbnail {
      float: none;
      @include breakpoint($bp-medium) {
        float: left;
      }
    }
  }
  &.fsThumbnailAlignRight {
    .fsThumbnail {
      float: none;
      @include breakpoint($bp-medium) {
        float: right;
      }
    }
  }

  article { }

    .fsThumbnail {

      img { }

    }

    .fsTitle {}

    .fsAuthor {}

    .fsDateTime {}

}
