// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

//account bar styling
body.fsAccountBarVisible{
	margin-top:35px;
}

#fsAccountBar{
	//== application.css output (for reference) ==//
		//cursor: default;
		//font-size: 16px;
		//height: 35px;
		//position: fixed;
		//top: 0;
		//width: 100%;
		//z-index: 1000

	background-color:$m1;
	color:#fff;

	padding:0 9%;

	z-index:9999;

	a{
		color:#fff;
	}

	>ul>li{
		cursor:pointer;
		margin:0;
		padding:0 1em;
		&:hover{
			background-color:lighten($m2,5%);
		}
		&:first-child ul{
			margin-left:35px;
		}
	}

	//menus
	.fsAccountBarMenu {
		background-color:$m2;
		border-width:0;
		left:0;
		li:hover{
			background-color:lighten($m2,5%);
		}
		ul{
			background-color:$m2;
			left:100%;
		}
	}
}

