// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - common v0.0.1 */
/* Contains generic styles that apply to every element */

// ================================
// Custom Module
// ================================

%added-module {
  padding: $gutter;
  color: #fff;

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

  a {
  	color: inherit;
  }

}

.module {
  @extend %added-module;
  background: $m1;
}

