// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

/*! elements - forms */

// ================================
// Documentation
// ================================

// example: http://coderepo.demo.finalsite.com/production/form
// the page contains example pages of form options including:
//  - common form without paging
//  - common form with paging
//  - common form that include columns

// ================================
// Common Form Elements
// ================================

textarea,
input,
select {
  padding: 5px;
  max-width: 100%;
}

.fsComposerFormEmbed {
	background: none; //reset for html background color
	
	body {
		margin:0;
	}
	// ================================
	// styling for embedded forms
	// ================================

	form {
		@include clear;

		input,
		textarea, 
		select {
		  font-family: $sans-serif;
		  font-size: $body-font-size;
		  line-height: $body-line-height;
		  color: $d1;
		}

		input {
			border: $input-border-style;

			&.fileUploader {
				padding: 0;
				width: 100%;
				border: none;
			}
		}

		fieldset {
			padding: 0;
		}

		textarea {
		  max-width: 100%;
		  width: 100%;
		  border: $input-border-style;
		}

		.mainGroupSub {
		  max-width: 100%;
		  width: 100%!important;
		}

		.formPage {
			margin-bottom: $gutter;
		}

		.elementRow {
		  max-width: 100%;
		  margin: 0;

		  &:last-child {
		  	.elementContainer {
		  		&:last-child {
		  			margin-bottom: 0;
		  		}
		  	}
		  }
		}

		.elementContainer {
			margin: 0 0 $gutter;
			padding: 0;

			@media screen and (max-width: 599px) {
				width: 100%;
			}

			label {
				margin-bottom: 2px;

				&.horizontal {
				  white-space: normal;
				  margin-right: $gutter /2!important;

				  &:last-child {
				  	margin-right: 0;
				  }
				}
			}

			hr {
				margin: 0 auto;
			}

			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.elementBody {
			> input {
				@media screen and (max-width: 599px) {
					width: 100%;
				}
			}

			> .descText {
				margin-bottom: $gutter / 2;
			}
		}

		//label aligned left

		.labelLeft {
			.elementContainer {

				label, .groupLabel {
					width: 100%;
					margin: 0;
					padding: 0;
					text-align: left;
					float: none;
					@include breakpoint(600px) {
						width: 20%;
						padding-right: 10px;
						text-align: right;
						float: left;
					}
				}

				> label {
					@include breakpoint(600px) {
						padding: 5px 10px 5px 5px;
					}
				}

				.groupLabel {
					label {
						width: 100%;
					}
				}

				fieldset {
					label {
						width: auto;
					}
				}
			}

			.elementBody {
				margin: 0;
				width: 100%;
				float: none;
				@include breakpoint(600px) {
					width: 80%;
					float: left;
				}
			}
		} //end lable aligned left

		.linkLike {
			color: $a1;
			margin-right: 10px;
			cursor: pointer;
			transition: .3s;

			&:hover {
				color: $a2;
			}
		}

		.required {
			color: $m1;
		}

		.pageControls {
		  padding: $gutter / 2 0!important;
		  margin-bottom: $gutter /2;

		  .userConfirmation {
		  	margin-bottom: 0;
		  }
		}

		.userConfirmation {
		  margin-bottom: $gutter;

		  .userConfirmationToggle {
		  	margin-right: 5px;
		  }

		  >label {
		  	display: block;
		  }
		}

		.elementColumn {
		  	@include clear;
		  	margin-bottom: $gutter;
		  	max-width: 100%;
		    @media screen and (max-width: 599px) {
		      float: none!important;
		      width: 100%!important;
		    }

		    .elementContainer {
		    	margin-bottom: 0;
		    }

		    .elementBody {
		    	>input {
		    		width: 100%;
		    	}
		    }
		}

		.pageBreak {
			@include clear;

			.nextPage, .prevPage {
				background: none;
				border: none;
				color: $a1;
				transition: .3s;
				outline: 0;
				float: left;
				padding: 0;
				line-height: 1;
				padding: $gutter / 2 0;

				&:hover {
					color: $a2;
					transition: .3s;
				}
			}

			.prevPage {
				margin-right: $gutter / 2;
			}

			.pagenum {
				display: inline-block;
				float: left;
				line-height: 1;
				margin-right: $gutter / 2;
				padding: $gutter / 2 0;

				&:empty {
					margin: 0;
				}
			}
		}
		
		// submit button cannot use @include button because of the display property
		.submitBtn {
		  border: 0;
		  margin: 0;
		  padding: $gutter / 2 $gutter;
		  border-radius: 0;
	    background: $m1;
	    color: #fff;
	    float: left;
	    transition: .3s;

	    &:hover {
	      transition: .3s;
	      background: $m2;
	    }
		}

	}// end actual form field

	//date picked with jquery ui
	.ui-widget {
		font-family: $sans-serif;
		max-width: 100%;
	}

	.ui-datepicker {
		&:empty {
			display: none;
		}

		.ui-datepicker-header {
			background: none;
			border: none;
		}

		.ui-datepicker-prev, .ui-datepicker-next {
			background: none;
			border: none;
			text-align: center;
			font-size: 20px;
			cursor: pointer;

			span {
				display: none;
			}

			&:before {
				content: '';
				font-weight: bold;
				transition: .3s;
			}

			&:hover {
				&:before {
					transition: .3s;
					opacity: .5;
				}
			}
		}

		.ui-datepicker-next {
			&:before {
				content: '\203A';
			}
		}

		.ui-datepicker-prev {
			&:before {
				content: '\2039';
			}
		}

		.ui-datepicker-next-hover {
			right: 2px;
			top: 2px;
		}

		.ui-datepicker-prev-hover {
			left: 2px;
			top: 2px;
		}

		.ui-state-default {
			background: rgba(#000, .05);
			text-align: center;
		}

		.ui-state-active {
			background: rgba(#000, .1);
		}

		.ui-state-highlight {
			border: solid 1px #d3d3d3;
			background-color: #d3d3d3;
		}

	}//end date picker

}//end custom form selector



// ================================
// Placeholder
// ================================

@include placeholder();
