// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/modules

// ================================
// Media Element
// ================================

.fsMedia {

	.fsPlayer {

	}

	//== gallery styles ===//
	.fsMediaGallery {

		.fsMediaGalleryObject {

		}

		.fsMediaPlayOverlay {

		}

		.fsMediaGalleryTitle {

		}

	}


}//.fsMedia


// ================================
// Custom Media Element
// ================================

// can target specifically with custom class
// js -  responsiveImgSlideshow('.yout-custom-class');

.fsMediaCustomPlayer {
	background: none;
	position: relative;
	color: $d1;
	font-family: $sans-serif;

	article {
		position: relative;
	}





}// end custom slideshow output

.fsCustomSlider {
	.fsElement {
		margin-bottom: 0;
	}

  .slick-next, .slick-prev {
    background: none;
    border: none;
    color: transparent;
    height: 40px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 2;

    &:before {
      color: #fff;
      display: block;
      font-size: 50px;
      font-weight: normal;
      height: 100%;
      left: 0;
      line-height: 30px;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;

    }
  }

  .slick-next {
    left: auto;
    right: 0;
    &:before {
      content: '\203A';
    }
  }

  .slick-prev {
    left: 0;
    right: auto;
    &:before {
      content: '\2039';
    }
  }

	.slider-play-btn  {
		position: absolute;
		top: $gutter;
		left: $gutter;
		background-color: $m2;
		font-size: 0;
		width: 30px;
		height: 30px;
		border: 0;
		padding: 0;
		z-index: 1;
		line-height: 42px;

		&:before {
			content: "";
			color: #fff;
			font-size: $body-font-size;
			font-family: $serif;
		}
	}

	&.slider-paused .slider-play-btn:before {
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-left: 13px solid #fff;
		border-bottom: 7px solid transparent;
		display: inline-block;
	}

	&.slider-playing .slider-play-btn:before, &.slider-playing .slider-play-btn:after {
		content: "";
		width: 3px;
		height: 18px;
		background-color: #fff;
		display: inline-block;
		margin: 6px 2px 0;
	}

	.slick-dots {
		@include list-reset;
		position: absolute;
		bottom: 12px;
		left: 50%;
		transform: translateX(-50%);

		li {
			display: inline-block;
		}

		li + li {
			margin-left: 6px;
		}

		button {
			border: 0;
			background-color: transparent;
			padding: 0;
			width: 12px;
			height: 12px;
			border: 2px solid #fff;
			border-radius: 100%;
			font-size: 0;
		}

		.slick-active button {
			background-color: #fff;
		}
	}


	.caption-wrapper {
    font-family: $sans-serif;
    font-size: $body-font-size;
    line-height: $body-line-height;
    width: 100%;
	  background-color: $m2;
		color: #fff;

		.caption-inner {
	    padding: $gutter / 2 $gutter / 2 30px;
		}

    @include breakpoint($bp-large) {
      padding: 30px $gutter;
			position: absolute;
			bottom: 0;
			left: 0;
	    background-color: rgba($m2, .5);
    }

    a {
      color: rgba(#fff, .5);

      &:hover {
        text-decoration: underline;
      }
    }

		&.is-empty {
			display: none;
		}
  }

  .caption-title {
    @include breakpoint($bp-large) {
      @include h2;
			color: #fff;
      margin-bottom: 0;
    }
  }

  .caption-desc {
    @include breakpoint($bp-large) {
      display: block;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &:empty {
      display: none;
    }
  }

}
